footer.footer
  .footer__top
    .footer__brand
      img(src="/images/logo.svg")
    .footer__nav
      ul.footer__menu
        li
          a.footer__link(href="#") Contacto
        li
          a.footer__link(href="#") Dónde Comprar
        li
          a.footer__link(href="#") Distribuidores
        li
          button.footer__link English Version
    ul.footer__social
      li
        a(href="#")
          i.fa.fa-facebook
      li
        a(href="#")
          i.fa.fa-twitter
      li
        a(href="#")
          i.fa.fa-instagram
  .footer__bottom
    p.footer__copy
      | &copy; 2019 Casarena. Todos los derechos reservados.


  