footer.footer
  .footer__top
    .footer__brand
      img(src="/images/logo.svg")
    .footer__nav
      ul.footer__menu
        li
          a.footer__link(href="#") Contacto
        li
          a.footer__link(href="#") Dónde Comprar
        li
          a.footer__link(href="#") Distribuidores
        li
          button.footer__link English Version
    ul.footer__social
      li
        a(href="https://www.facebook.com/CasarenaBodega/")
          i.fa.fa-facebook
      li
        a(href="https://twitter.com/casarenabodega?lang=es")
          i.fa.fa-twitter
      li
        a(href="https://www.instagram.com/casarenabodega/?hl=es-la")
          i.fa.fa-instagram
  .footer__bottom
    p.footer__copy
      | &copy; 2019 Casarena. Todos los derechos reservados.


  