extends ../_layouts/base

block config
  - var baseUrl = '../';

include ../_modules/image-box/imageBox
include ../_modules/button/button

block content
  main.nosotros
    section.nosotros__hero
      +imageBox('http://lorempixel.com/1920/1080/city/1')
        .nosotros__hero__content
          .nosotros__hero__text 
            h1.nosotros__hero__title Somos custodios de un legado
            p.nosotros__hero__subtitle Diverso. Histórico. Único.
          span.arrow--down 

    section.nosotros__section
        .nosotros__section-content
          .nosotros__section-content--container
            h3 Custodios del terroir de Luján de Cuyo, especialistas en Single Vineyards.
    
    section.nosotros__explore
      +imageBox('http://lorempixel.com/1920/1080/city/3') 
        .nosotros__explore__content
          .nosotros__explore__text
            h1.nosotros__explore__title Bodega Casarena
            p.nosotros__explore__subtitle Es custodio e interprete del Terroir de Luján de Cuyo. Somos especialistas en viñedos de Perdriel y Agrelo, creando vinos que logran expresar la identidad y la diversidad de nuestra tierra.
            +cButton('#', 'white')
              | explorar vinos
    
    section.nosotros__grid
      .nosotros__grid-content
        .nosotros__grid-content--el1
          p Este proyecto vitivinícola está ubicado en el corazón de Perdriel, a tan solo 20 minutos de la Ciudad de Mendoza, en el edificio de una bodega centenaria, construida en 1937, que fue totalmente renovada para nuestro trabajo. Dentro de Luján de Cuyo contamos con propiedades en diferentes situaciones geográficas, tanto en altura, como en orientación y en composición de los suelos. Se exploró profundamente cada suelo en los viñedos para poder mostrar todas las expresiones posibles de un mismo varietal en una zona.
        img(src="http://lorempixel.com/1920/1080/city/9", alt="map").nosotros__grid-content--el2
        img(src="http://lorempixel.com/1920/1080/city/8", alt="viñedo").nosotros__grid-content--el3
        img(src="http://lorempixel.com/1920/1080/city/4", alt="barriles").nosotros__grid-content--el4
        .nosotros__grid-content--el5
          p Representa el poder de una zona que se expresa desde el viñedo mediante el trabajo de grandes profesionales que las interpretan. Todas las dimensiones de Luján de Cuyo, la zona perfecta para crear vinos con el sello único.

    
    section.nosotros__explore
      +imageBox('http://lorempixel.com/1920/1080/city/3') 
        .nosotros__explore__content
            .nosotros__explore__text
              p.nosotros__explore__subtitle.up Casarena tiene cuatro fincas estratégicamente ubicadas.
              h1.nosotros__explore__title.down Jamilla, Naoki, Owen y Lauren
              +cButton('#', 'white')
                | explorar fincas
      
//- block content
  main.nosotros
    section.image-box
        img.image-box__image(src="http://lorempixel.com/1280/700/city/1", alt="")
        div.nosotros__hero
          h1.h1__center Somos custodios<br>de un legado 
          p Diverso. Histórico. Único.
          button.nosoxtros__btn-down

    div.nosotros__div
      p Custodios del terroir de Luján de Cuyo, especialistas en Single Vineyards.

    section.image-box
      img.image-box__image(src="http://lorempixel.com/1280/70/city/4",   alt="")
      div
        h1 bodega casarena
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit.  Sint doloremque nam ea ex hic ab expedita provident  consequuntur. Autem quasi voluptas praesentium sint omnis modi   veritatis eum voluptatum iste architecto.
        button.nosotros__btn

    article.nosotros__article
      p.nosotros__p 
      img.nosotros__img(src="/", alt="malbec")
      img.nosotros__img(src="/", alt="mapa")
      img.nosotros__img(src="/", alt="barriles")
      p.nosotros__p


    section.image-box
      h4.nosotros__h4
      h1.nosotros__h1
      button.nosotros__btn


