extends ../_layouts/base

block config
  - var baseUrl = '../';

include ../_modules/image-box/imageBox
include ../_modules/button/button

block content
  main.nosotros
    section.nosotros__hero
      +imageBox('http://lorempixel.com/1920/1080/city/1')
        .nosotros__hero-content
          .nosotros__hero-content--container
            h1 Somos custodios de un legado
            p Diverso. Histórico. Único.
            button 

    section.nosotros__section
        .nosotros__section-content
          .nosotros__section-content--container
            h3 Custodios del terroir de Luján de Cuyo, especialistas en Single Vineyards.
    
    section.nosotros__explore
      +imageBox('http://lorempixel.com/1920/1080/city/3') 
        .nosotros__explore-content
            .nosotros__explore-content--container
              h1 Bodega Casarena
              p Es custodio e interprete del Terroir de Luján de Cuyo. Somos especialistas en viñedos de Perdriel y Agrelo, creando vinos que logran expresar la identidad y la diversidad de nuestra tierra.
              +cButton('#', 'white')
                | explorar vinos
    
    section
      +imageBox('http://lorempixel.com/1920/1080/city/4') 
    
    section
      +imageBox('http://lorempixel.com/1920/1080/city/5')
      
//- block content
  main.nosotros
    section.image-box
        img.image-box__image(src="http://lorempixel.com/1280/700/city/1", alt="")
        div.nosotros__hero
          h1.h1__center Somos custodios<br>de un legado 
          p Diverso. Histórico. Único.
          button.nosoxtros__btn-down

    div.nosotros__div
      p Custodios del terroir de Luján de Cuyo, especialistas en Single Vineyards.

    section.image-box
      img.image-box__image(src="http://lorempixel.com/1280/70/city/4",   alt="")
      div
        h1 bodega casarena
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit.  Sint doloremque nam ea ex hic ab expedita provident  consequuntur. Autem quasi voluptas praesentium sint omnis modi   veritatis eum voluptatum iste architecto.
        button.nosotros__btn

    article.nosotros__article
      p.nosotros__p 
      img.nosotros__img(src="/", alt="malbec")
      img.nosotros__img(src="/", alt="mapa")
      img.nosotros__img(src="/", alt="barriles")
      p.nosotros__p


    section.image-box
      h4.nosotros__h4
      h1.nosotros__h1
      button.nosotros__btn


