extends ../_layouts/base

block config
  - var baseUrl = '../';

include ../_modules/image-box/imageBox
include ../_modules/button/button

block content
  main.fincas
    section.fincas__hero
      +imageBox('/images/fincas/hero.jpg', 'full')
        .fincas__hero__content
          .fincas__hero__text 
            h1.fincas__hero__title Nuestras Fincas
            p.fincas__hero__subtitle Luján de Cuyo
            img(src="/", alt="motañas")
          span.arrow--down

    section.fincas__section
      .fincas__section__content
        .fincas__section__text
          p.fincas__section__letter Nuestras Fincas
          h2.fincas__section__title Un homenaje a la diversidad de una zona, en alturas, en tamaños, en insolaciones, y sobre todo en sus suelos.
          p.fincas__section__subtitle Con cada finca profundizamos la construcción de la identidad de Casarena y de Lujan de Cuyo. Con la mirada en aquello que marcó a la gente que transita por sus surcos, comprendiendo, seleccionando, cuidando cada detalle.
      img(src='/images/fincas/mapa.jpg', alt="mapa")

    section.fincas__explore
      +imageBox('/images/fincas/jamilla.jpg', 'full')
        .fincas__explore__content
          .fincas__explore__text
            h1.fincas__explore__title Finca Jamilla
            p.fincas__explore__subtitle Finca Jamilla rodea la bodega construida hace casi cien años. Es el fruto del esfuerzo y los sueños de una familia mendocina que elaboró sus vinos siguiendo la tradición europea, con gran empeño y dedicación. Finca familia está sobre la mítica calle Brandsen y tiene un entorno de enorme belleza.
          .icons__container
            .icons__box 
              i 
              p perdriel, luján de cuyo, mendoza
            .icons__box 
              i 
              p altitud 940 msnm
            .icons__box 
              i 
              p año de plantación 1995
            .icons__box 
              i 
              p lecho de río. canto rodado

    section.fincas__images 
      img(src='/images/fincas/uvas.jpg', alt="uvas")
      img(src='/images/fincas/terreno.jpg', alt="terreno")

    section.fincas__desc
      .fincas__desc__content
        h2.fincas__desc__title Características 
        p.fincas__desc__subtitle Sus suelos están formados a partir de lo que fue el lecho del río Mendoza, por lo cual su principal característica es la presencia de canto rodado. El perfil de suelo está formado por una primera capa de textura franco-acrillosa, seguida de una capa de grava, ripio y piedra bola de tamaño variable. Estas condiciones le permiten al suelo tener un muy buen drenaje.

    section.fincas__explore
      +imageBox('/images/fincas/naoki.jpg', 'full')
        .fincas__explore__content
          .fincas__explore__text
            h1.fincas__explore__title Finca Naoki
            p.fincas__explore__subtitle Finca Naoki, enclavada en una zona prejuzgada como imposible para viñedos por la escasez de agua y la presencia de suelo calcáreo. De la vocación por el trabajo y la poética de los desafíos, transformamos sus terrazas en una finca modelo. Finca Naoki, a la vera de la famosa Ruta 40, mira tranquila hacia la cordillera de Los Andes.
          .icons__container
            .icons__box 
              i 
              p agrelo, luján de cuyo, mendoza
            .icons__box 
              i 
              p altitud 950 msnm
            .icons__box 
              i 
              p año de plantación 2010
            .icons__box 
              i 
              p cementaciones de yeso

    section.fincas__images 
      img(src='/images/fincas/uvas2.jpg', alt="uvas2")
      img(src='/images/fincas/terreno2.jpg', alt="terreno2")

    section.fincas__desc
      .fincas__desc__content
        h2.fincas__desc__title Características 
        p.fincas__desc__subtitle Se destaca la abrupta pendiente este-oeste, que ofrece oportunidades excepcionales para los micro-terroirs: distintas zonas de exposición solar; diferentes impactos térmicos y un suelo particularmente rústico, rocoso y con cementaciones de calcáreo que pueden llegar a ser impenetrables. Condiciones en extremo diferentes a otras zonas de Agrelo, lo que hace de esta finca un sitio único para las diferentes expresiones enológicas.

    section.fincas__explore
      +imageBox('/images/fincas/lauren.jpg', 'full')
        .fincas__explore__content
          .fincas__explore__text
            h1.fincas__explore__title Finca Lauren
            p.fincas__explore__subtitle Finca Lauren está enclavada en la zona más fría de Agrelo. Allí la variación de temperatura entre la noche y el día es marcada, lo cual permite que la vid tenga un descanso nocturno durante la adaptación de diferentes varietales que expresan en nuestros vinos el terroir de manera sobresaliente.
          .icons__container
            .icons__box 
              i 
              p agrelo, luján de cuyo, mendoza
            .icons__box 
              i 
              p altitud 918 msnm
            .icons__box 
              i 
              p año de plantación 2006
            .icons__box 
              i 
              p profundo y arcilloso

    section.fincas__images 
      img(src='/images/fincas/pajaro.jpg', alt="pajaro")
      img(src='/images/fincas/terreno3.jpg', alt="terreno3")

    section.fincas__desc
      .fincas__desc__content
        h2.fincas__desc__title Características 
        p.fincas__desc__subtitle Se destaca la profundidad de su suelo, donde se pueden diferenciar distintas capas: la primera, de suelo puro con textura arcollosa; luego, una capa de transición con mayor granulometría; y una tercera capa con una textura franco-arenosa. Estas características favorecen el buen desarrollo de distintos varietales.

    section.fincas__explore
      +imageBox('/images/fincas/owen.jpg', 'full')
        .fincas__explore__content
          .fincas__explore__text
            h1.fincas__explore__title Finca Owen
            p.fincas__explore__subtitle Finca Owen es llamada entre nuestra gente "la sobreviviente". Parrales del año 1930 se erigen como esculturas clásicas entre sus callejones. Llama la atención la variedad de suelos que cambian cada pocos metros, lo que permite un gran trabajo de micro-terroir. Finca Owen es el activo genético y emocional de nuestro proyecto de Luján de Cuyo.
          .icons__container
            .icons__box 
              i 
              p agrelo, luján de cuyo, mendoza
            .icons__box 
              i 
              p altitud 960 msnm
            .icons__box 
              i 
              p año de plantación 1930
            .icons__box 
              i 
              p micro terroir, arena y arcilla

    section.fincas__images 
      img(src='/images/fincas/uvas3.jpg', alt="uvas3")
      img(src='/images/fincas/terreno4.jpg', alt="terreno4")

    section.fincas__desc
      .fincas__desc__content
        h2.fincas__desc__title Características 
        p.fincas__desc__subtitle Gran variedad de suelos, que nos lleva a descubrir sectores con un perfil sumamente arcilloso y profundo, pasando por otros con presencia de canto rodado a poca profundidad mezclados con arena y arcilla, hasta llegar a suelos con un perfil dominado por el canto rodado, rico en calcáreo y con una elevada mineralidad potencial.
    