.nosotros {
    background-color: black;

    &__hero {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;

        &-b {
            align-items: flex-start;
        }
    }
}