.nosotros {
    background-color: black;

    &__hero-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;

        &--container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 25rem;
            grid-column: 2;
            grid-row: 2;

            h1 {
                font-size: 3.5rem;
                margin: 0 0 .75rem 0;
                color: $text;
                font-style: italic;
                font-weight: 100;
                font-family: $titleFont;
                text-align: center;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    &__section {
        background-color: $beige;
        height: 10rem;

        &-content {
            max-width: 1200px;
            margin: auto;
            border-top: $gold solid 5px;
            height: 10rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;

            &--container {
                max-width: 25rem;
                text-align: center;
                grid-column: 2;
                grid-row: 2;

                h3 {
                    color: $gold;
                    font-size: 1.5rem;
                    font-style: italic;
                    font-weight: 100;
                    font-family: $titleFont;
                    text-align: center;
                }
            }
        }
    }

    &__explore-content {
        display: grid;
        grid-template-columns: 1fr 1200px 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: flex-start;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;

        &--container {
            max-width: 30.8rem;
            grid-column: 2;
            grid-row: 2;

            h1 {
                font-size: 3.5rem;
                margin: 0 0 .75rem 0;
                color: $text;
                font-weight: 100;
                font-family: $titleFont;
            }

            p {
                font-size: .9rem;
                line-height: 1.5rem;
            }
        }
    }

    &__grid {
        background-color: $white;
        
        &-content {
            padding: 3rem 0rem;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 0.45fr 0.30fr 0.10fr 0.15fr;
            justify-items: center;
    
            &--el1 {
                grid-column: 1;
                grid-row: 1 / 2;
                align-self: center;
                width: 80%;

                p {
                    color: $gold;
                }
            }
    
            
            &--el2 {
                width: 100%;
                height: 100%;
                grid-column: 1;
                grid-row: 2 / 5;
            }
            
            &--el3 {
                width: 100%;
                height: 100%;
                grid-column: 2;
                grid-row: 1 / 3;
            }
            
            &--el4 {
                width: 100%;
                height: 100%;
                grid-column: 2;
                grid-row: 3;
            }

            &--el5 {
                grid-column: 2;
                grid-row: 4;
                align-self: center;
                width: 80%;

                p {
                    color: $gold;
                }
            }
        }
    }
}