header.header
  .header__brand
    a.header__logo(href="/")
      img(src="/images/logo.svg") 
  
  nav.header__nav
    ul.header__menu
      each link in site.data.header
        li 
          a(href=link.url)= link.text
  
  button.header__language EN

  .header__hamburguer
    span 
    span 
    span 



