.image-box {
  width: 100%;
  position: relative;
  padding-bottom: 36%;
  overflow: hidden;
  
  &__image {
    position: absolute;
    top:50%;
    left: 0;
    width:100%;
    transform: translateY(-50%);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top: 60%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  }
}