mixin cButton(url, color, mode, size, fill)

  if mode == 'button'
    button.c-button
      if block
        block
  else
    a.c-button(href=url, class=`${color ? 'c-button--' + color : ''} ${size ? 'c-button--' + size : ''} ${fill ? 'c-button--filled' : ''}`)
      if block
        block