extends ../_layouts/base

block config
  - var baseUrl = '../';

block content
  main.casarena-mundo
    section.casarena-mundo__hero
      .casarena-mundo__container
        h1.casarena-mundo__title Casarena en el mundo
        .casarena-mundo__wrapper
          .casarena-mundo__map
            img(src="/images/mundo/mapa.png")
            ul.casarena-mundo__map-markers
              //- li.casarena-mundo__map-marker
              //-   span.casarena-mundo__map-marker__dot 
              //-   .casarena-mundo__map-marker__info
              //-     h3.casarena-mundo__map-marker__country Francia
              //-     .casarena-mundo__map-marker__mail
              //-       span.casarena-mundo__map-marker__mail-label Ventas
              //-       a.casarena-mundo__map-marker__mail-link(href="mailto:ventas@casarena.com") ventas@casarena.com
              //-       span.casarena-mundo__map-marker__mail-icon
              //-         i.material-icons mail_outline
