extends _layouts/base

include _modules/image-box/imageBox


block content
  main.home
    section.home__hero
      +imageBox('http://lorempixel.com/1920/1080/city/1', 'grad-bottom')
        .home__hero-content
    section
      +imageBox('http://lorempixel.com/1920/1080/city/2') 
    section
      +imageBox('http://lorempixel.com/1920/1080/city/3') 
    section
      +imageBox('http://lorempixel.com/1920/1080/city/4') 
    section
      +imageBox('http://lorempixel.com/1920/1080/city/5')

